main {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;

  input {
    font-size: 1.5rem;
  }

  button {
    font-size: 1.5rem;
  }

  h1 {
    margin-bottom: -10px;
  }

  th,
  td {
    border: 4px solid black;
    text-align: center;
    padding: 1rem;
  }
}
