<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management System</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h1 class="page_title">Student Management System</h1>
    <div class="container">
        <form id="add-user-form">
            <label for="firstname">First Name:</label>
            <input type="text" id="firstname" name="firstName"><br><br>
            <label for="lastname">Last Name:</label>
            <input type="text" id="lastname" name="lastName"><br><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email"><br><br>
            <input id="add-user-btn" value="Add User" type="submit" />
        </form>
        <button id="display-users-btn">Display Users</button>
        <button id="update-user-btn" style="display: none;">Update User</button>
        <button id="delete-user-btn" style="display: none;">Delete User</button>
        <div id="user-list">
            <h2>Users:</h2>
            <ul id="user-list-ul">
                <!-- users will be listed here -->
            </ul>
        </div>
        <div id="update-user-form" style="display: none;">
            <h2>Update User:</h2>
            <form>
                <label for="update-firstname">First Name:</label>
                <input type="text" id="update-firstname" name="update-firstname"><br><br>
                <label for="update-lastname">Last Name:</label>
                <input type="text" id="update-lastname" name="update-lastname"><br><br>
                <label for="update-email">Email:</label>
                <input type="email" id="update-email" name="update-email"><br><br>
                <button id="update-user-submit-btn">Update User</button>
            </form>
        </div>

    </div>

    <script src="/Script.js"></script>
</body>
</html>